.form-signin, .form-signup{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox,
.form-signup .checkbox {
  font-weight: normal;
}

.form-signin label,
.form-signup label{
  width: 80%;
  display: inline-block;
}

.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
.form-signin .form-control:focus,
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[name="user[password_confirmation]"] {
    margin-bottom: 10px;
    border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


.signin-links,
.signup-links{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
} 